body {
    background-color: #fff;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    padding-top: 62px;
}

@media (min-width: 768px) {
    body {
        padding-top: 0;
    }
}

#my-mmenu:not(.mm-menu) {
    display: none;
}

.site-header {
    background: #333;
    padding: 10px 20px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    top: 0;
    box-shadow: 0 0 1px 1px rgba(0,0,0,1);
}

@media (min-width: 768px) {
    .site-header {
        position: static;
    }
}

.mmenu-trigger {
    float: right;
    color: #fff;
    font-size: 30px;
}

@media (min-width: 768px) {
    .mmenu-trigger {
        display: none;
    }
}

.mmenu-trigger:hover,
.mmenu-trigger:focus,
.mmenu-trigger:active {
    color: #fff;
}

main {
    padding: 20px 0;
}

@media (min-width: 768px) {
    #mm-my-mmenu {
        display: none !important;
    }
}

@media (min-width: 768px) {
    #my-mmenu {
        display: block !important;
    }
}



/* Options */

/* Theme changes */

/* Plugin options */

    /* Full screen */
        /* Back button */



/* Fixed header */

/* Show mobile menu up to breakpoint */